<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Ryan Wilson</title>
    <link href='http://fonts.googleapis.com/css?family=Play' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
</head>
<body>
    <header id="header">
        <div class="top-bar">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-xs-4">
                    </div>
                    <div class="col-sm-6 col-xs-8">
                        <div class="social">
                            <ul class="social-share">
                                <li><a href="https://www.linkedin.com/in/ryanmitchellwilson" target="_blank"><i class="fa fa-linkedin" style="color: black"></i></a></li>
                                <li><a href="https://github.com/RyanMitchellWilson" target="_blank"><i class="fa fa-github-alt" style="color: black"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div><!--/.container-->
        </div><!--/.top-bar-->
        <nav class="navbar navbar-inverse" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="@Url.Action("Index", "Home")" style="font-size: 50px"><i class="fa fa-rebel"></i> Ryan Wilson</a>
                </div>

                <div class="collapse navbar-collapse navbar-right">
                    <ul class="nav navbar-nav" style="font-size: 20px">
                        <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                        <li><a href="@Url.Action("Resume", "Home")">Resume</a></li>
                        <li><a href="@Url.Action("About", "Home")">About</a></li>
                        <li><a href="@Url.Action("Contact", "Home")">Contact</a></li>
                        <li><a href="@Url.Action("Index", "Work")">My Work</a></li>
                    </ul>
                </div>
            </div><!--/.container-->
        </nav><!--/nav-->

    </header><!--/header-->
    <div class="container body-content">
        @RenderBody()
    </div>

    <footer id="footer">
        <div class="container">
            <div class="row">
                <div>
                </div>
                <div class="col-sm-12">
                    <ul class="text-center" style="font-size: 18px">
                        <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                        <li><a href="@Url.Action("Resume", "Home")">Resume</a></li>
                        <li><a href="@Url.Action("About", "Home")">About</a></li>
                        <li><a href="@Url.Action("Contact", "Home")">Contact</a></li>
                        <li><a href="@Url.Action("Index", "Work")">My Work</a></li>
                    </ul>
                </div>
                <div class="col-sm-12">
                    <ul class="text-center" style="font-size: 18px">
                        <li><a href="https://www.linkedin.com/in/ryanmitchellwilson" target="_blank"><i class="fa fa-linkedin fa-2x"></i></a></li>
                        <li><a href ="https://github.com/RyanMitchellWilson" target="_blank"><i class="fa fa-github-alt fa-2x"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
